:root {
    /* primary text */
    --black: #2E2E2E;
    /* secondary text, borders or not primary icons */
    --gray: #D3CFCF;
    /* background */
    --terracotta-white: #FAF9F6;
    --white: #fff;
    /* accent color */
    --terracotta: #E07A5F;

    --font-size: 1.5rem;
    --nunito: "Nunito", Arial, sans-serif;
}
html {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
    box-sizing: inherit;

    margin: 0;
    padding: 0;
}
.wrapper {
    /*border: 2px solid yellowgreen;*/

    height: 100vh;

    padding: 1.5rem 0 1rem 5rem;

    display: flex;
    flex-flow: row nowrap;

    background-color: var(--terracotta-white);
    color: var(--black);

    font-family: var(--nunito), sans-serif;
}

/* ----- navigation ----- */
nav ul {
    list-style-type: none;

    /* hide menu by default*/
    visibility: hidden;

    position: absolute;
}
#menu-checkbox {
    display: none;
}
.menu-btn {
    font-size: var(--font-size);
    cursor: pointer;
}
.icon-menu {
    width: 2rem;
    height: 2rem;

    fill: var(--black);
}
nav a {
    text-decoration: none;

    color: var(--black);
    font-family: var(--nunito), sans-serif;
    font-size: var(--font-size);

    display: flex;
    gap: 1rem;

    padding: 1rem 1.5rem;
}
nav img {
    height: 1.5rem;
    width: 1.5rem;

    align-self: center;
}
nav li {
    font-size: var(--font-size);
}

.hidden {
    display: none;
}
.active {
    display: block;
}



/* ----- entry page ----- */
.page {
    /*border: 1px solid green;*/
    max-width: 800px;

    margin-left: auto;

    padding: 2rem;

    display: flex;
    flex-direction: column;

    background-color: var(--white);

    font-family: var(--nunito), sans-serif;
    line-height: 1.5rem;
}
.page p,
.page div {
    margin: 0;
    padding: 0;
}
.page header {
    display: flex;
    flex-flow: row nowrap;

    margin-bottom: 2rem;
}
.title-container {
    /*border: 1px solid green;*/
}
.page header .entry-title {
    /*border: 2px solid red;*/

    width: 100%;

    font-family: var(--nunito), sans-serif;
    font-weight: 400;
    font-size: 1.5rem;

    margin: 0;
    padding: 0;
}
.icon-summary {
    /*width="800px" height="800px"*/
    width: 2.5rem;
    height: 2.5rem;

    fill: var(--gray);
}
.entry-body {
    font-family: var(--nunito), sans-serif;
    /*font-size: var(--font-size);*/
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5rem;

    flex-basis: 97%;
}
.page footer {
    /*border: 2px solid red;*/
    justify-self: flex-end;
}
.page footer p {
    font-size: 0.8rem;
    text-align: end;
}

.icon-save {
    /*border: 2px solid blue;*/
    width: 3rem;
    height: 3rem;

    fill: var(--terracotta);

    align-self: flex-end;
    margin-right: auto;
}
